
.container{
  display: flex;
  max-width: 1440px;
  margin: auto;
}

.__sidebar {
  display: flex;
  max-width: 350px;
}

*{
	color:rgba(0, 0, 0, 0.76)
}

@import url('https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css');

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

* {
	margin: 0;
	box-sizing: border-box;
}

/* Boitif Font */
@font-face {
	font-family: "Biotif-black";
	src: url("./assets/biotif/Biotif-Black.ttf") format("truetype");
}
@font-face {
	font-family: "Biotif-bold";
	src: url("./assets/biotif/Biotif-Bold.ttf") format("truetype");
}
@font-face {
	font-family: "Biotif-book";
	src: url("./assets/biotif/Biotif-Book.ttf") format("truetype");
}
@font-face {
	font-family: "Biotif-extrabold";
	src: url("./assets/biotif/Biotif-ExtraBold.ttf") format("truetype");
}
@font-face {
	font-family: "Biotif-light";
	src: url("./assets/biotif/Biotif-Light.ttf") format("truetype");
}
@font-face {
	font-family: "Biotif-medium";
	src: url("./assets/biotif/Biotif-Medium.ttf") format("truetype");
}
@font-face {
	font-family: "Biotif";
	src: url("./assets/biotif/Biotif-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "Biotif-semibold";
	src: url("./assets/biotif/Biotif-SemiBold.ttf") format("truetype");
}

.biotif {
	font-family: "Biotif";
}
.biotif-semibold {
	font-family: "Biotif-semibold";
}
.biotif-medium {
	font-family: "Biotif-medium";
}
.biotif-light {
	font-family: "Biotif-light";
}
.biotif-extrabold {
	font-family: "Biotif-extrabold";
}
.biotif-book {
	font-family: "Biotif-book";
}
.biotif-bold {
	font-family: "Biotif-bold";
}
.biotif-black {
	font-family: "Biotif-black";
}
.__sidenav {
	width: 30%;
    height: 100vh;
    overflow-y: auto;
	border: 1px solid #E5E5E5;
}
.overflow-y-auto__{
	height: 100vh;
    overflow-y: auto;
}
.__content {
	background: #f2f2f2;
	padding: 66px 16px;
	height: calc(100vh - 82px);
	overflow-y: scroll;
}
.user:hover {
	background-color: #80808029;
	/* border-radius: 10px; */
}

.user {
	cursor: pointer;
}
.__transact {
	font-size: 10px;
}
.circle {
	font-size: 5px;
}

.h-screen {
	height: calc(100vh - 50px);
}

.__lg_avatar{
	height: 100px;
	width: 100px;
}

.__shadow{
	box-shadow: 0px 1px 4px 4px rgba(0, 0, 0, 0.03);
border-radius: 11px;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}


.loader {
	--background: linear-gradient(135deg, #23C4F8, #275EFE);
	--shadow: rgba(39, 94, 254, 0.28);
	--text: #6C7486;
	--page: rgba(255, 255, 255, 0.36);
	--page-fold: rgba(255, 255, 255, 0.52);
	--duration: 3s;
	width: 200px;
	height: 140px;
	position: relative;
  }
  .loader:before, .loader:after {
	--r: -6deg;
	content: "";
	position: absolute;
	bottom: 8px;
	width: 120px;
	top: 80%;
	box-shadow: 0 16px 12px var(--shadow);
	transform: rotate(var(--r));
  }
  .loader:before {
	left: 4px;
  }
  .loader:after {
	--r: 6deg;
	right: 4px;
  }
  .loader div {
	width: 100%;
	height: 100%;
	border-radius: 13px;
	position: relative;
	z-index: 1;
	perspective: 600px;
	box-shadow: 0 4px 6px var(--shadow);
	background-image: var(--background);
  }
  .loader div ul {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
  }
  .loader div ul li {
	--r: 180deg;
	--o: 0;
	--c: var(--page);
	position: absolute;
	top: 10px;
	left: 10px;
	transform-origin: 100% 50%;
	color: var(--c);
	opacity: var(--o);
	transform: rotateY(var(--r));
	-webkit-animation: var(--duration) ease infinite;
			animation: var(--duration) ease infinite;
  }
  .loader div ul li:nth-child(2) {
	--c: var(--page-fold);
	-webkit-animation-name: page-2;
			animation-name: page-2;
  }
  .loader div ul li:nth-child(3) {
	--c: var(--page-fold);
	-webkit-animation-name: page-3;
			animation-name: page-3;
  }
  .loader div ul li:nth-child(4) {
	--c: var(--page-fold);
	-webkit-animation-name: page-4;
			animation-name: page-4;
  }
  .loader div ul li:nth-child(5) {
	--c: var(--page-fold);
	-webkit-animation-name: page-5;
			animation-name: page-5;
  }
  .loader div ul li svg {
	width: 90px;
	height: 120px;
	display: block;
  }
  .loader div ul li:first-child {
	--r: 0deg;
	--o: 1;
  }
  .loader div ul li:last-child {
	--o: 1;
  }
  .loader span {
	display: block;
	left: 0;
	right: 0;
	top: 100%;
	margin-top: 20px;
	text-align: center;
	color: var(--text);
  }
  
  @-webkit-keyframes page-2 {
	0% {
	  transform: rotateY(180deg);
	  opacity: 0;
	}
	20% {
	  opacity: 1;
	}
	35%, 100% {
	  opacity: 0;
	}
	50%, 100% {
	  transform: rotateY(0deg);
	}
  }
  
  @keyframes page-2 {
	0% {
	  transform: rotateY(180deg);
	  opacity: 0;
	}
	20% {
	  opacity: 1;
	}
	35%, 100% {
	  opacity: 0;
	}
	50%, 100% {
	  transform: rotateY(0deg);
	}
  }
  @-webkit-keyframes page-3 {
	15% {
	  transform: rotateY(180deg);
	  opacity: 0;
	}
	35% {
	  opacity: 1;
	}
	50%, 100% {
	  opacity: 0;
	}
	65%, 100% {
	  transform: rotateY(0deg);
	}
  }
  @keyframes page-3 {
	15% {
	  transform: rotateY(180deg);
	  opacity: 0;
	}
	35% {
	  opacity: 1;
	}
	50%, 100% {
	  opacity: 0;
	}
	65%, 100% {
	  transform: rotateY(0deg);
	}
  }
  @-webkit-keyframes page-4 {
	30% {
	  transform: rotateY(180deg);
	  opacity: 0;
	}
	50% {
	  opacity: 1;
	}
	65%, 100% {
	  opacity: 0;
	}
	80%, 100% {
	  transform: rotateY(0deg);
	}
  }
  @keyframes page-4 {
	30% {
	  transform: rotateY(180deg);
	  opacity: 0;
	}
	50% {
	  opacity: 1;
	}
	65%, 100% {
	  opacity: 0;
	}
	80%, 100% {
	  transform: rotateY(0deg);
	}
  }
  @-webkit-keyframes page-5 {
	45% {
	  transform: rotateY(180deg);
	  opacity: 0;
	}
	65% {
	  opacity: 1;
	}
	80%, 100% {
	  opacity: 0;
	}
	95%, 100% {
	  transform: rotateY(0deg);
	}
  }
  @keyframes page-5 {
	45% {
	  transform: rotateY(180deg);
	  opacity: 0;
	}
	65% {
	  opacity: 1;
	}
	80%, 100% {
	  opacity: 0;
	}
	95%, 100% {
	  transform: rotateY(0deg);
	}
  }
  /* body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #1C212E;
	font-family: "Roboto", Arial;
  }
  body .dribbble {
	position: fixed;
	display: block;
	right: 24px;
	bottom: 24px;
  }
  body .dribbble img {
	display: block;
	width: 76px;
  } */